
body {
  text-align: center;
}


h1 {
  color: blue;

}

.wrap {
  display: flex;
  justify-content: center;
}



.grid-container {
  display: grid;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: repeat(8, 100px);
  grid-gap: 3px;
  background-color: black;
  padding: 12px;
}

.grid-item {
  background-color: green;
  
}


[data-color="white"]::after,
[data-color="black"]::after {
  content: '';
  display: block;
  height: 100%;
  border-radius: 50%;

}

[data-color="white"]::after {
  background-color: white;
}
[data-color="black"]::after {
  background-color: black;
}